
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .exercise-details-container {
    width: 1000px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  

  .exercise-details-container h1 {
    font-size: 36px;
    font-weight: bold;
    color: #2a2a2a !important;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .exercise-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .exercise-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
  }
  
  .exercise-info h2 {
    font-size: 24px;
    color: #2a2a2a;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .exercise-info p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
  }
  

  .exercise-info .tips {
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #ff6347; 
  }
  
  .exercise-info .sets-reps {
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #4caf50; 
  }
  

  video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

  button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #e53e3e;
  }
  
  